[Desktop Entry]
Type=Application
Encoding=UTF-8
StartupNotify=false
Name=MPlayer
Comment=Media Player For Linux
GenericName=Video Player
Exec=gmplayer
Terminal=false
Type=Application
Icon=mplayer.xpm
Categories=Application;Multimedia;AudioVideo;Player;
MimeType=video/quicktime;video/x-quicktime;image/x-quicktime;application/x-quicktimeplayer;video/x-ms-asf-plugin;video/x-msvideo;video/msvideo;application/x-mplayer2;video/x-ms-wm;video/x-ms-asf;video/x-ms-wmv;video/x-ms-wmp;video/x-ms-wvx;audio/x-ms-wax;audio/x-ms-wma;application/x-drm-v2;audio/wav;audio/x-wav;video/mpeg;audio/mpeg;video/x-mpeg;video/x-mpeg2;audio/mpeg;audio/x-mpeg;audio/mpeg2;audio/x-mpeg2;audio/mpeg3;audio/x-mpeg3;audio/x-mp3;audio/mp3;video/mp4;video/fli;video/x-fli;video/vnd.vivo;application/x-ogg;application/ogg
