[Desktop Entry]
Exec=xscreensaver-demo
Icon=xscreensaver.xpm
Terminal=false
Name=Screensaver
Name[da]=Pauseskærm
Name[de]=Bildschirmschoner
Name[es]=Salvapantallas
Name[et]=Ekraanisäästja
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[hu]=Képernyővédő
Name[ja]=スクリーンセーバー
Name[ko]=화면 보호기
Name[nl]=Schermbeveiliging
Name[no]=Skjermsparer
Name[pl]=Wygaszacz ekranu
Name[pt]=Protecção Ecrã
Name[ru]=Хранитель экрана
Name[sk]=Šetrič obrazovky
Name[sv]=Skärmsläckare
Name[vi]=Trình bảo vệ màn hình
Name[wa]=Spårgneu di waitroûle
Name[zh_CN]=屏幕保护程序
Name[zh_TW]=螢幕保護程式
Comment=Change screensaver properties
Comment[da]=Ændr egenskaber for pauseskærm
Comment[fi]=Muuta näytönsäästäjän ominaisuuksia
Comment[fr]=Modifier les propriétés de l'économiseur d'écran
Comment[nl]=Verander schermbeveiliging voorkeuren
Type=Application
Categories=Application;Settings;Appearance;AdvancedSettings;
