%  Part 4: extra format definitions for TeX Live

TEXINPUTS.elambda       = .;$TEXMF/tex/{lambda,latex,generic,}//
TEXINPUTS.eomega        = .;$TEXMF/tex/{plain,generic,}//
TEXINPUTS.pdfxmex       = .;$TEXMF/tex/{mex,plain,generic,}//
TEXINPUTS.frpdflatex    = .;$TEXMF/tex/{french,latex,generic,}//
TEXINPUTS.frpdftex      = .;$TEXMF/tex/{french,plain,generic,}//
TEXINPUTS.xmltex        = .;$TEXMF/tex/{xmltex,latex,generic,}//
TEXINPUTS.pdfxmltex     = .;$TEXMF/tex/{xmltex,latex,generic,}//

TTF2TFMINPUTS =                 .;$TEXMF/ttf2pk//

% For bibtex8. Do we really need to repeat the BIBINPUTS setting?
BIBINPUTS.bibtex8 =             .;$TEXMF/bibtex/{bib,}//
BSTINPUTS.bibtex8 =             .;$TEXMF/bibtex/{bst,csf,}//

% allow for compressed files, and various extenions
TEXDOCSSUFFIX   = ;.pdf;.ps;.dvi;.html;.txt;.tex
TEXDOCSCOMPRESS = ;.gz;.bz2;.zip;.Z
TEXDOCEXT       = {$TEXDOCSSUFFIX}{$TEXDOCSCOMPRESS}

%% t4ht utility, sharing files with TeX4ht
TEX4HTFONTSET=alias,iso8859,unicode
TEX4HTINPUTS = .;$TEXMF/tex4ht/base//;$TEXMF/tex4ht/ht-fonts/{$TEX4HTFONTSET}//

% Part for scripts that are distributed/installed in the texmf tree.

% Perl, Python, Ruby, Java scripts (Win32 only)
% This is used by the irun.exe program which simulates a symlink
% but also makes use of kpathsea to retrieve the target
JAVAINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/java//
LUAINPUTS    = .;$TEXMF/scripts/{$progname,$engine,}/lua//
PERLINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/perl//
PYTHONINPUTS = .;$TEXMF/scripts/{$progname,$engine,}/python//
RUBYINPUTS   = .;$TEXMF/scripts/{$progname,$engine,}/ruby//

% Suggestions for editor settings under Windows. Uncomment your
% preferred option. The corresponding MFEDIT can also be set for use with
% Metafont.
%
% Winedt:
%  TEXEDIT=C:\WinEdt\WinEdt.exe "[Open('%s');SelLine(%d,7)]
% Textpad:
%  TEXEDIT =                    c:\Progra~1\TextPad\System\Ddeopn32 TextPad %s(%d)
% UltraEdit (newer Win32 versions):
%  TEXEDIT =                    uedit32 %s/%d/1
% WinTeXShell32:
%  TEXEDIT =                    texshell.exe /l=%d %s
% vi, vim, gvim. here we show Windows gvim.exe:
%  TEXEDIT =                    gvim.exe %s +%d
% PFE:
%  TEXEDIT=pfe32/g%d  %s
% MED:
%  TEXEDIT=med.exe "%s" %d
% TSE:
%  TEXEDIT=e32.exe "%s" -n%d
% Epsilon (Lugaru)            http://www.lugaru.com/
%  TEXEDIT="c:\Program Files\eps90\bin\e32.exe" +%d %s
% WinShell
% TEXEDIT=C:\Progra~1\WinShell\WinShell.exe -c %s -l %d
% notepad
% TEXEDIT = notepad %s

% For unix
%
% vi, vim, NEdit, (X)Emacs, pico, jed
% TEXEDIT =                     vi     +%d %s
% TEXEDIT =                     vim    +%d %s
% TEXEDIT =                     nedit  +%d %s
% TEXEDIT =                     xemacs +%d %s
% TEXEDIT =                     emacs +%d %s

%(x)fte:
% TEXEDIT =                     xfte   -l%d %s

% Disable search on multiple suffixes filenames. In many case, when `foo.bar'
% is looked for, you do not want to look for `foo.bar.tex' before. This flag
% disables searching for standard suffixes if the file name has already an
% extension of 3 characters. Default value is true (old behaviour).
allow_multiple_suffixes =                       f
