[Desktop Entry]
Version=1.0
Name=BitTornado BitTorrent Client
Comment=TheShad0w's experimental BitTorrent client
Exec=/usr/bin/btdownloadgui.py
Icon=/usr/share/pixmaps/bittornado.ico
Terminal=false
Type=Application
Categories=Network;P2P;
MimeType=application/x-bittorrent;
